body{
    background-color: cadetblue;
}
h1{
    text-align: center;
    font-size: 50px;
    
}
.picture{
    border-radius: 50%;
    background-color: rgb(31, 38, 80);
    padding: 5px;
}
.myname{
    font-size: 30px;
    text-align: center;
}
.description{
    font-family: cursive;
    margin-top: 80px;
    max-width: 60%;
    margin-left: 150px;
}
.div2{
    font-size: 20px;
}

ul{
    line-height: 50px;
    list-style: none;
}
.onlyThisP{
    font-size: 20px;
} 
.li1{
font-size: 30px;
}
.li2{
    font-size: 23px;
}
.li3{
    font-size: 25px;
}
ol{
   display: flex;
   list-style: none;
}